body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

article {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.02);
}

small {
  opacity: 0.4;
}

button {
  margin: 0;
  padding: 0.5rem;
}

button img {
  margin-right: 0.25rem;
  vertical-align: text-bottom;
}

.btn-primary {
  padding: 0 0.5rem;
  margin: 0;
  background-color: transparent;
  border: none;
}

.wallet-address {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.wallet-address_details {
  padding-left: 1rem;
}

.address-row {
  display: flex;
}

#walletMnemonic {
  font-family: monospace;
  margin-bottom: 0.5rem;
}

.wallet-mnemonic {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #11191e;
  border-radius: 0.25rem;
}

#walletPrivateKey {
  font-family: monospace;
  margin-bottom: 0.5rem;
}

.wallet-privatekey {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #11191e;
  border-radius: 0.25rem;
}

#tooltip {
  display: none;
  position: fixed;
  background-color: #141e26;
  padding: 0.5rem 1rem;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
}

#tooltip img {
  margin-right: 0.5rem;
}

.tooltip-body {
  display: flex;
}

.grid {
  grid-template-columns: 1fr 1fr;
}
